
<h1>Tasks</h1>

<% @tasks.each do |task| %>
  <% if task.completed == true %>
    <input type="checkbox" id="task" name="task" checked>
  <% else %>
    <input type="checkbox" id="task" name="task">
  <% end %>
<%= link_to(task.title, task_path(task)) %>
<br>
<% end %>

<%= link_to "Add a new task", new_task_path %>